body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: Lucida Grande;
}

input,
label {
	display: block;
}

#tempArea input, #tempArea label{
    display: inline;
}

#windArea input, #windArea label{
    display: inline;
}


div#main {
	background:#F2F2F2;
	padding: 1vw 2vw;
}

.spaceradio
{
	margin-right:10px;
}

/* .radios
{
	margin-right:60px;
} */

/* input[type="radio"] {
    margin-left:20px;
} */

img
{
    width:84% !important;
    height:100% !important;
}

.divider{
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid lightgrey;
}

hr {
    display: block;
    height: 11px;
    border: 0;
    border-top: 10px solid #ccc;
    margin: 1 0;
    padding: 0;
    width:95%;
}

.widget{
    box-shadow: 1px 2px 1px lightgray;
    background-color: white;
    margin-left:30px;
    height: 100%;

}

.title
{
    margin-left:30px;
    padding:10px;
    position: absolute;

}

.left
{
    margin-left:20px;
    padding:10px;
    vertical-align: top;
}

.text{
    width:60%;
}

.top{
    margin-top:15px;
}

.widgettop{
    margin-top:15px;
}


.topdegrees
{
    margin-top:40px;
}

.degrees{
    font-size:xx-large;
    font-weight: bold;
}

.wind{
    font-size: small;
    font-weight: bold;
}

