body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grid-container {
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: auto auto;
	background-color: #2196f3;
	padding: 10px;
}


input,
label {
	display: block;
}

#tempArea input, #tempArea label{
    display: inline;
}

#windArea input, #windArea label{
    display: inline;
}


div {
	background: #fff;
	padding: 1vw 2vw;
}

.spaceradio
{
	margin-right:30px;
}

.radios
{
	margin-right:60px;
}